<link rel="stylesheet" href="views/css/index.css">
<script src="views/js/index.js">

</script>

<div class="container-fluid page">

  <div class="desc container-fuild col-md-8 col-xs-12">
    <div class="col-md-12 full-size banner-intro">
      <h2>Welcome to Social IF3</h2>
    </div>


  </div>

  <div class="login container-fluid col-md-4 col-xs-12">
    <div class="centerer full-size">
      <div class="content">
        <h3 class="logStat">Login</h3>
        <form class="login-form">
          <input id="usernameField" type="text" name="username" placeholder="Username">
          <input id="fullnameField" type="text" name="fullname" placeholder="Full Name" style="display: none;">
          <input id="emailField" type="text" name="email" placeholder="Email" style="display: none;">
          <input id="passwordField" type="password" name="password" placeholder="Passoword">
          <input id="loginBtn" type="submit" name="login" value="Login">
          <a href="#" class="toggleLoginType">Don't have an account? Sign Up!</a>
        </form>
      </div>
    </div>
  </div>

</div>
