<link rel="stylesheet" href="views/css/index.css">
<script src="views/js/index.js">
</script>

<div class="container-fluid page">

    <div class="desc container-fuild col-md-8 col-xs-12">
        <h1>Welcome to Ifetter</h1>

        <div class="col-md-6 col-sm-12">
            <h3>Track you improvement</h3>

            <p>Ifetter provides tools for you to track and compare you progress at school.</p>

            <i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>Create collective events</h3>

            <p>Never let your friend say that he didn't know about a group activity anymore.</p>

            <i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>New ways to give newcomers a nickname</h3>

            <p>Ifetter lets third year students give the newcomers their school nickname.</p>

            <i class="fa fa-crosshairs fa-5x" aria-hidden="true"></i>
        </div>

        <div class="col-md-6 col-sm-12">
            <h3>Register Now!</h3>

            <p>Sign up now to stay in touch with people that suffer just like you!</p>

            <button class="toggleLoginDiv">Sign Up</button>
        </div>
    </div>

    <div class="login container-fluid col-md-4 col-xs-12">
        <div class="centerer full-size">
            <div class="content">
                <button class="back-btn"><i class="fa fa-angle-left fa-3x" aria-hidden="true"></i></button>
                <h3 class="logStat">Login</h3>
                <form class="login-form">
                    <input id="usernameField" type="text" name="username" placeholder="Username">
                    <input id="fullnameField" type="text" name="fullname" placeholder="Full Name" style="display: none;">
                    <input id="emailField" type="text" name="email" placeholder="Email" style="display: none;">
                    <input id="passwordField" type="password" name="password" placeholder="Password">
                    <input id="loginBtn" type="submit" name="login" value="Login">
                    <a href="#" class="toggleLoginType">Don't have an account? Sign Up!</a>
                </form>
            </div>
        </div>
    </div>

</div>
