* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
    max-width: 50em;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

a {
    color: rgb(232, 28, 79);
}

.side-menu {
    height: 100%;
    padding: 30px 0;
}

.side-menu div {
    margin: 0 auto;
    max-width: 280px;
}

.page {
    width: 100%;
    height: calc(100% - 50px);
    position: fixed;
    top: 50px;
    left: 0;
    overflow-y: auto;
    background: #F0F0F0;
}

.side-menu-prof-container {
    width: 100%;
    position: relative;
    text-align: center;
}

.side-menu-profpic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.side-menu-name {
    text-align: center;
    display: block;
}

img {
    cursor: pointer;
}

.img-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(35, 35, 35, .8);
    display: none;
}

.img-full table {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.img-full img {
    max-height: 80%;
    max-width: 80%;
    margin: auto auto;
    box-shadow: 0 0 .5cm black;
}

.feed {
    padding: 30px 50px;
}

.write-box {
    width: 100%;
    background: white;
    box-shadow: 0 0 .2cm #454545;
    padding: 10px;
    padding-bottom: 0;
    transition: .3s;
}

.write-box textarea {
    width: 100%;
    resize: none;
    border: 0;
    border-bottom: 1px solid lightgrey;
}

.write-box button {
    float: right;
    margin-left: 10px;
    margin-top: -5px;
    padding: 10px 20px;
    border: none;
    background: #232323;
    color: white;
}

.write-box button:first-of-type {
    margin-right: -10px;
}

.clear {
    clear: both;
}

.feed-card {
    margin: 10px 0;
    width: 100%;
    background: white;
    box-shadow: 0 0 .2cm #454545;
    padding: 10px;
    position: relative;
}

.feed-card img:first-of-type {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}

.feed-card a {
    color: rgb(232, 28, 79);
    text-decoration: none;
}

.feed-card a.profile-link,
.feed-card span {
    margin: 0;
    padding: 0;
    line-height: 50px;
    float: left;
}

.img-button span {float: none}

.feed-card a.profile-link:first-of-type {margin-left: 10px;}

a.profile-link {
    cursor: pointer;
}

.feed-card p:first-of-type {
    margin-left: 5px;
    line-height: 50px;
    color: grey;
    float: left;
    font-size: smaller;
}

.feed-card .content {
    display: block;
    margin: 0 20px;
    margin-bottom: 10px;
}

.feed-card table {
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    margin-top: 10px;
}

.feed-card .post-control {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 50px;
    padding: 0;
}

.write-box button.img-button, .img-button, .write-box button.img-btn {
    background-color: transparent;
    border: none;
    padding: 10px;
}

.write-box button.img-btn {
    color: #232323
}

.like-btn {
    transition: .3s;
}

.liked, .red {
    color: #E2264D;
}

.invisible {
    display: none;
}

.write-box .thumb {
    width: 40px;
    height: 40px;
    float: left;
}

.preview-box {
    width: 50%;
    height: 40px;
    margin-top: -5px;
    float: left;
    overflow-x: auto;
    overflow-y: hidden;
}

.white {
    color: white;
}

.big-font {
    font-weight: 300;
    font-size: 16pt;
}

.side-menu-tools {
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(100% - 20px);
    float: left;
}

.side-menu-tools li {
    height: 50px;
    width: 100%;
    margin: 0 20px;
    line-height: 50px;
}

.side-menu-tools li a {
    color: #232323;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0 10%;
}

.side-menu-tools li:hover {
    background: #E5E5E5;
}

.side-menu-name, .side-menu-username, .side-menu-totalposts {
    display: block;
    padding-left: calc(20px + 10%);
    text-align: left;
}

p.content {
    overflow-wrap: break-word;
}

.focused {
    transform: scale(1.1);
    box-shadow: 0 0 2cm #232323;
}

.content-img {
    max-width: 100%;
    max-height: 400px;
    margin: 0 auto;
    display: block;
}

.feed-card img.content-img:first {margin-top: 10px !important;}

.navbar-form, .form-group {
    width: 400px;
}

#searchBar {
    width: 100%;
}

.search-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
    display: none;
    z-index: 99999999;


}

.search-full .result-container li {
    color: white;
}

.search-full input {
    width: 100%;
    padding: 10px 60px;
    border: none;
    height: 50px;
    font-size: large;
}

table.self-profile, table.visit-profile {
    width: calc(100% - 20% - 40px);
    margin: 0 calc(20px + 10%);
    background: #232323;
    color: white;
    table-layout: fixed;
}

.search-return-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

.do-search-button {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
}

.img-btn {
    background: transparent;
    border: none;
}

.search-full .result-card {
    width: 100%;
    height: 70px;
    padding: 10px;
}

.search-full .result-card img {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.search-full .result-card a {
    line-height: 40px;
    margin-left: 10px;
}

.search-full .result-container {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 900px) {
    .feed {
        padding: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .side-menu {
        display: none;
    }
    .feed {
        padding: 30px 15px;
    }
    .focused {
        transform: scale(1);
        width: calc(100% + 30px);
        margin: 0 -15px;
    }
}

@media only screen and (min-width: 501px) {
    .self-profile-link {display: none !important;}
    .search-btn {display: none;}
}
